
.resumetext{
    float:left;
    padding: 100px;
    margin:100px;
    width: 200px;
    height:10px;
    background: rgba(255,255,255,.9);
    border: 5px solid black;
    border-radius:15px;
}

.resumetitle{
    
    position:relative;
    top:250px;
    left:120px;
    width:400px;
}

.resume{
    float:right;
    position:relative;
    right:130px;
    top:50px;
    border: 5px solid black;
}
